<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>

  <% message.attachments.each do |attachment| %>
    <%= link_to attachment.blob.filename.to_s, cl_image_path(attachment.key), target: "_blank" %>
  <% end %>

</div>
