<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %>
  <% @message.attachments.each do |attachment| %>
    <%= link_to attachment, :download => 'File'  do %>
      <%= cl_image_tag attachment.key, height: 200, width: 300, :crop=>"scale" %>
    <% end %>
    <%# <%= cl_image_tag attachment.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  </p>
</div>
