<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662821983/Studeasy/pool_3_ff7ubx.png" %>
  <% end %>




  <h1 class="title">
          <span class ="s">S</span>
          <span class ="t">t</span>
          <span class ="u">u</span>
          <span class ="d">d</span>
          <span class ="i">i</span>
          <span class ="z">z</span>
          <span class ="y">y</span>
        </h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Edit Profile", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "out" %>
        </li>
        <li class="nav-item dropdown">
          <%# <%= current_user.email %>
          <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662822324/Studeasy/pool_5_x2g1qx.png", width: "70px", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <%# </div> %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>














     
