
<div class="yourgrades">

  <div class="uppage">
    <h1 class= "notes-title">Your Results <i class="fa-solid fa-square-poll-vertical"></i> </h1>
  </div>




  <div class="allgrades">

    <div class="menu2">
      <p class="wel">Welcome <br> <span class="user"><%= current_user.nickname %></span> </p>
        <hr>

      <div class="today">
        <br>
      <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1664917228/Studeasy/Sans_titre_80_n5hekv.png", width:"100px"%>
        <p> <% @date= Date.today %> <%= @date.strftime('%a %d %B %Y') %></p>
      </div>
        <br>
        <hr>


      <%= link_to "Courses", courses_path, class:"btncourses" %>
        <hr>
      <%=  link_to "Documents", documents_path, class:"btndoc" %>
        <hr>
      <%= link_to "Results", results_path, class:'btnresults' %>
        <hr>
      <%= link_to "Chat", chatrooms_path, id:"btnchat" %>
        <hr>
      <%= link_to "Home", dashboard_path, id:"btndash" %>
        <br>
        <br>
        <br>
    </div>


    <div class="groupegrade">

      <div class="cour">
        <% @courses.each do |course| %>
            <div class="case">
              <h3> <%= course.title %></h3>
              <div class="linkresult">
                <% if course.title.include?('GEOM') %>
                  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709219/Studeasy/Sans_titre_66_trjjnu.png', width:"80" %>
                <% end %>
                <% if course.title.include?('PROB') %>
                  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709259/Studeasy/Sans_titre_69_vlfppn.png', width:"80" %>
                <% end %>
                <% if course.title.include?('ALG') %>
                  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709278/Studeasy/Sans_titre_67_txctrt.png', width:"80" %>
                <% end %>
                <% if course.title.include?('HIST') %>
                  <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/o_65/v1664714357/Studeasy/Sans_titre_71_yxqxhh.png', width:"80" %>
                <% end %>

              <br>

                <%= link_to "View results", result_path(course.id)%>
              </div>

            </div>
          <% end %>
      </div>

    </div>

    <div class="column">

      <div class="grimg">
        <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709298/Studeasy/Sans_titre_70_sybe7x.png', width:"160" %>
      </div>
      <div class="columntext">
        <h3>Take a look at your grades history, and your average grades!</h3>
      </div>

      <div class="gnlnote">
        <p> General grades : <span class ="gnl"> <%= @courses.average(:average).round(1) %> </span> </p>
      </div>

    </div>


  </div>











</div>
