<h1 class="course-title"> <%= @course.title %> </h1>

<div class="boardbox">

  <div class="boardd">
      <table class="notes">
            <tr class ="high">
              <th class ="topleft">Exam's date</th>
              <th class ="topright"> Grades</th>
            </tr>
            <tr>
              <%  @results.sort_by(&:date).reverse.each do |result| %>
                <td class="datetd"><%= result.date.strftime("%Y-%b-%d")  %></td>
                <% if result.value < 10 %>
                  <td class ="notevalue"><%= result.value %></td>
                    <style>
                      .notevalue {
                        color: rgb(237, 109, 89);
                      }
                    </style>
                <% elsif result.value >= 10  %>
                  <td class ="noteplus"><%= result.value %></td>
                <% end %>
            </tr>
              <% end %>
      </table>
  </div>



  <div class="avgs">

    <div class="your-avg">
      <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1664293875/Studeasy/Sans_titre_53_teyxrt.png", width:"100px" %>
      <h6 class="h6avg">Your average</h6>
        <p> <%= @results.average(:value).round(1) %>  </p>
    </div>

    <div class="class-avg">
      <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1664293907/Studeasy/Sans_titre_52_f5e3sg.png", width:"100px" %>
      <h6 class="h6avg">Class average</h6>
        <p> <%= @course.average %> </p>
    </div>

  </div>

</div>



<br><br><br>

<p> <%= link_to "Back" , results_path %> </p>
