

<div class="global-dash">

  <div class="menu">

    <p class="wel">Welcome <span class="user"><%= current_user.email %> !</span> </p>
    <hr>
     <%= link_to "Courses", courses_path, class:"btncourses" %>
    <hr>
    <%=  link_to "Documents", "#", class:"btndoc" %>
    <hr>
    <%= link_to "Results", "#", class:'btnresults' %>
    <hr>
    <%= link_to "Chat", "#", class:"btnchat" %>
    <hr>
    <br>
    <br>
    <br>
  <div class="today">
   <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1663155422/Studeasy/Sans_titre_37_ph2ll9.png", width:"120px"%>
    <p> <% @date= Date.today %> <%= @date.strftime('%A %d %B %Y') %></p>


  </div>



      <%# <input id="Aujourdhui" type="date" name="date" value="" readonly>
        <script>
          document.getElementById("Aujourdhui").valueAsDate = new Date();
        </script> %>


  </div>


  <div class="modules">

    <div class="up">

      <div class="results-graph">

        <%=  image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662828611/Studeasy/pool_7_mgpdrc.png", width:"150px" %>

      </div>

      <div class="deadlines">

      <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662830008/Studeasy/Your_weekly_deadlines_1_cbuckl.png", width:"400px" %>

      </div>

    </div>

    <div class="week-schedule">
    <br>
      <h4>Ongoing week Schedule for : <span class='current-month'>  <% @date=Date.today%> <%= @date.strftime('%B %Y') %></h4></span>

      <br>

      <%= week_calendar(number_of_weeks: 4) do |date| %>
        <%= date.day %>
      <% end %>

      <%# <%= week_calendar(events: @sessions) do |date, sessions| %>
       <%# <%= date %>

       <%# <% sessions.each do |session| %>
        <%#  <div>
            <%= session.course_id %>
        <%#  </div>
        <% end %>
     <%# <% end %>



      </div>


    </div>


  </div>
















































</div>
