

<div class="global-dash">

  <div class="menu">
    <p class="wel">Welcome <span class="user"><%= current_user.email %></span> </p>
      <hr>

    <div class="today">
     <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/o_55/v1663708205/Studeasy/Sans_titre_46_wq4lgq.png", width:"90px"%>
      <p> <% @date= Date.today %> <%= @date.strftime('%A %d %B %Y') %></p>
    </div>
      <hr>


    <%= link_to "Courses", courses_path, class:"btncourses" %>
      <hr>
    <%=  link_to "Documents", documents_path, class:"btndoc" %>
      <hr>
    <%= link_to "Results", "#", class:'btnresults' %>
      <hr>
    <%= link_to "Chat", chatrooms_path, class:"btnchat" %>
      <hr>
      <br>
      <br>
      <br>

  </div>


  <div class="week-schedule">

    <h4> <span class='current-month'>  <% @date=Date.today%> <%= @date.strftime('%B %Y') %></h4></span>



    <%= week_calendar(number_of_weeks: 2, events: @sessions) do |date, sessions| %>
      <%= date.day %>
       <br>
      <% sessions.sort_by(&:start_date).each do |session| %>
        <div class= "event">
          <p class ="time"><%= session.start_time.to_formatted_s(:time)  %> - <%= session.end_date.to_formatted_s(:time)  %></p>
          <%= link_to session.name, session.course %>
        </div>
      <% end %>
    <% end %>
  </div>


    <%# </div>


  </div> %>
  <%# <div class="modules"> %>

    <div class="up">

      <div class="deadlines">
        <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662830008/Studeasy/Your_weekly_deadlines_1_cbuckl.png", width:"400px" %>

        <%# <% if session.start_date <= Date.today + 2
          session.name %>
          <%# <p class ="ses"><style> .ses {color : red;}</style></p>
        <% elsif
          session.start_date + 3 <= Date.today <= session.start_date + 5
          session.name%>
          <%# <style> .ses {color : orange;}</style>
        <%  elsif
          session.start_date < Date.today + 7
          session.name%>
          <%# <style> .ses {color : green;}</style>
        <% end %>
      </div>

      <div class="results-graph">
        <%# <%=  image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662828611/Studeasy/pool_7_mgpdrc.png", width:"150px" %>
        <div id="container">
          <%# <p class="chartp">Last exams sessions results</p> %>
        </div>
      </div>

    </div>
  <%# </div> %>



</div>
