

<div class="global-dash">

  <div class="menu">
    <p class="wel">Welcome <span class="user"><%= current_user.email %></span> </p>
      <hr>

    <div class="today">
      <br>
     <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/o_55/v1663708205/Studeasy/Sans_titre_46_wq4lgq.png", width:"90px"%>
      <p> <% @date= Date.today %> <%= @date.strftime('%a %d %B %Y') %></p>
    </div>
      <br>
      <hr>


    <%= link_to "Courses", courses_path, class:"btncourses" %>
      <hr>
    <%=  link_to "Documents", documents_path, class:"btndoc" %>
      <hr>
    <%= link_to "Results", "#", class:'btnresults' %>
      <hr>
    <%= link_to "Chat", chatrooms_path, class:"btnchat" %>
      <hr>
      <br>
      <br>
      <br>

  </div>


  <div class="week-schedule">

    <h4> <span class='current-month'>  <% @date=Date.today%> <%= @date.strftime('%B %Y') %></h4></span>


<%# <%raise %>
    <%= week_calendar(number_of_weeks: 2, events: @sessions) do |date, sessions| %>
      <%= date.day %>
       <br>
      <% sessions.sort_by(&:start_date).each do |session| %>
        <div class= "event">
          <p class ="time"><%= session.start_time.to_formatted_s(:time)  %> - <%= session.end_date.to_formatted_s(:time)  %></p>
          <%= link_to session.name, session.course %>
        </div>
      <% end %>
    <% end %>
  </div>


    <%# </div>


  </div> %>
  <%# <div class="modules"> %>

    <div class="up">

      <div class="deadlines">
       <%# <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662830008/Studeasy/Your_weekly_deadlines_1_cbuckl.png", width:"400px" %>
        <h6> <i class="fa-solid fa-hourglass-end"> </i> Due dates reminder:</h6>
        <br>

        <% if @red_sessions %>
          <% @red_sessions.each do |session|%>
            <p class ="dead1">
              <%=link_to session.start_time.to_formatted_s(:short), session.course %> - <%= session.course.title %> : <%= session.name %>  </p>
                <style>
                  .dead1 {
                    background-color: rgb(244, 203, 192);
                    border-radius: 15px;
                    padding: 2px 4px;
                  }
                </style>
          <%end%>
        <% end %>

        <% if @yellow_sessions %>
          <% @yellow_sessions.each do |session|%>
            <p class ="dead2">
              <%=link_to session.start_time.to_formatted_s(:short), session.course %> - <%= session.course.title %> : <%= session.name %>  </p>
                <style>
                  .dead2 {
                    background-color: rgb(246, 245, 196);
                    border-radius: 15px;
                    padding: 2px 4px;
                  }
                </style>
          <%end%>
        <% end %>

        <% if @green_sessions %>
          <% @green_sessions.each do |session|%>
            <p class ="dead3">
              <%=link_to session.start_time.to_formatted_s(:short), session.course %> - <%= session.course.title %> : <%= session.name %>  </p>
                <style>
                  .dead3 {
                    background-color: rgb(199, 243, 200);
                    border-radius: 15px;
                    padding: 2px 4px;
                  }
                </style>
          <%end%>
        <% end %>







        <%# <div class="reminder4">
          <p class ="todo"> TODAY : Exam </p>
        </div>
        <div class="reminder3">
          <p class ="todo"> D - 1 : Homework Probs</p>
        </div>
        <div class="reminder2">
          <p class ="todo"> D - 4 : TD Geometry</p>
        </div>
        <div class="reminder1">
          <p class ="todo"> D - 6 : Exam History of Maths</p>
        </div> %>

      </div>
<%#
================================================================================== %>

      <div class="results-graph">
        <%# <%=  image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662828611/Studeasy/pool_7_mgpdrc.png", width:"150px" %>
        <div id="container">
          <%# <p class="chartp">Last exams sessions results</p> %>
        </div>
      </div>

    </div>
  <%# </div> %>



</div>
