

<div class="global-dash">

  <div class="menu">

    <p class="wel">Welcome <span class="user"><%= current_user.email %></span> </p>
    <hr>
     <%= link_to "Courses", courses_path, class:"btncourses" %>
    <hr>
    <%=  link_to "Documents", documents_path, class:"btndoc" %>
    <hr>
    <%= link_to "Results", "#", class:'btnresults' %>
    <hr>
    <%= link_to "Chat", chatrooms_path, class:"btnchat" %>
    <hr>
    <br>
    <br>
    <br>
  <div class="today">
   <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1663155422/Studeasy/Sans_titre_37_ph2ll9.png", width:"120px"%>
    <p> <% @date= Date.today %> <%= @date.strftime('%A %d %B %Y') %></p>
  </div>

  <%# <div class="avatar">
    <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1663353326/Studeasy/Sans_titre_45_ksvex8.png', width:"100px" %>
  <%# </div> %>



      <%# <input id="Aujourdhui" type="date" name="date" value="" readonly>
        <script>
          document.getElementById("Aujourdhui").valueAsDate = new Date();
        </script> %>


  </div>


  <div class="modules">

    <div class="up">

      <div class="results-graph">

        <%# <%=  image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662828611/Studeasy/pool_7_mgpdrc.png", width:"150px" %>
        <div id="container">
          <p class="chartp">Last exams sessions results</p>

        </div>

      </div>

      <div class="deadlines">

      <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662830008/Studeasy/Your_weekly_deadlines_1_cbuckl.png", width:"400px" %>


      </div>

    </div>

    <div class="week-schedule">
    <br>
      <h4>Your 2 next weeks Schedule for : <span class='current-month'>  <% @date=Date.today%> <%= @date.strftime('%B %Y') %></h4></span>

      <br>

      <%# <%= week_calendar(number_of_weeks: 2) do |date| %>
        <%# <%= date.day %>
      <%# <% end %>

      <%= week_calendar(number_of_weeks: 2, events: @sessions) do |date, sessions| %>
        <%= date.day %>
        <br>


        <%# <% 8.upto(17).each do |hour| %>
          <%# <div>
            <%= Time.parse("#{hour}:00").strftime("%l %P") %>
          <%# </div>
        <% end %>


        <% sessions.sort_by(&:start_date).each do |session| %>
          <div class= "event">
            <%= session.start_time.to_formatted_s(:short)  %> <br> <%= session.end_date.to_formatted_s(:short)  %> <br>
            <%= link_to session.name, "#" %>
          </div>
        <% end %>
      <% end %>




<%# =============================================================================
      <%= week_calendar(number_of_weeks:2, attribute: :start_date, events: @sessions) do |date, sessions| %>
        <%# <%= date.day %>

        <%# <% sessions.each do |session, name| %>
          <%# <div>
            <%= @session %>
          <%# </div>
        <% end %>
      <%# <% end %>
<%# ============================================================================== %>






      </div>


    </div>


  </div>
</div>
