<div class="bbbox">
    <div class="menu1">
      <p class="wel">Welcome <span class="user"><%= current_user.email %></span> </p>
        <hr>

      <div class="today">
        <br>
      <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1664917228/Studeasy/Sans_titre_80_n5hekv.png", width:"100px"%>
        <p> <% @date= Date.today %> <%= @date.strftime('%a %d %B %Y') %></p>
      </div>
        <br>
        <hr>


      <%= link_to "Courses", courses_path, class:"btncourses" %>
        <hr>
      <%=  link_to "Documents", documents_path, class:"btndoc" %>
        <hr>
      <%= link_to "Results", results_path, class:'btnresults' %>
        <hr>
      <%= link_to "Chat", chatrooms_path, id:"btnchat" %>
        <hr>
      <%= link_to "Home", dashboard_path, id:"btndash" %>
        <br>
        <br>
        <br>
    </div>

    <div class="docs">

      <div class="cadre">
        <div class="head1">
          <p><i class="fa-solid fa-paperclip"> </i> Downloaded files</p>
        </div>
        <br>
        <div class="documents">
          <% @messages.each do |message|  %>
            <%#= link_to attachment.blob.filename.to_s, cl_image_path(attachment.key), target: "_blank" %>
            <%= link_to message.attachments.blobs.first.filename, rails_blob_path(message.attachments.blobs.first, disposition: 'preview'), target:"_blank", class:'file' %>
          <% end %>

        </div>


      </div>


      <div class="droiteee">


        <div class="hhh">
          <h6 class ="doctitlee">What are you looking for ?</h6>
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665081600/Studeasy/Sans_titre_88_po6s3f.png', width:'60px' %>
          <div class="search">
            <input id="searchbar" onkeyup="search_documents()" type="text"
            name="search" placeholder="Search file..">
          </div>
        </div>




        <div class="titlesearch">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665058256/Studeasy/Sans_titre_87_cvflbd.png', width:'500px' %>
        </div>



      </div>

   </div>

</div>
<%# <script>
      function search_documents() {
          let input = document.getElementById('searchbar').value
          input=input.toLowerCase();
          let x = document.getElementsByClassName('a');

          for (i = 0; i < x.length; i++) {
              if (!x[i].innerHTML.toLowerCase().includes(input)) {
                  x[i].style.display="none";
              }
              else {
                  x[i].style.display="list-item";
              }
          }
      }
    </script> %>
