<div class="homebox">

  <div class="home-banner">

    <div class="lft">
      <h1 class="title">
        <span class ="s">S</span>
        <span class ="t">t</span>
        <span class ="u">u</span>
        <span class ="d">d</span>
        <span class ="i">i</span>
        <span class ="z">z</span>
        <span class ="y">y</span>
      </h1>
    <br>
      <h1>Digital platform</h1>
      <h1>for all student</h1>
      <h1>activity.</h1>

      <div class="newlinks">
        <%= link_to "Sign Up", new_user_registration_path, class:'signup'  %>
        <%= link_to "Login", new_user_session_path, class:'login' %>
      </div>



    </div>

    <div class="laptop">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664661345/Studeasy/Votre_texte_de_paragraphe_7_um07ok.png', width:"700" %>
    </div>

  </div>

  <div class="band">

    <div class="features">
      <h1>FEATURES</h1>
      <br>
      <h4> Try out the app every student needs ! Multiple features</h4>
      <h4> to make your student life the more efficient and the more practical possible</h4>

    </div>

    <div class="square">
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652506/Studeasy/Sans_titre_60_ofok2h.png', width:"40" %>
          <h6>Callendar</h6>
          <p>dkfgj fkgj g sejgh kdjsfhg </p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652555/Studeasy/Sans_titre_61_nfanw5.png', width:"40" %>
          <h6>Results</h6>
          <p>dkfgj fkgj g sejgh kddfhg</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652595/Studeasy/Sans_titre_65_z8nhzw.png', width:"40" %>
          <h6>Due dates</h6>
          <p>dkfgj fkgj g sejgh kdjsf k</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652637/Studeasy/Sans_titre_62_pnwuno.png', width:"40" %>
          <h6>Cloud</h6>
          <p>dkfgj fkgj g sejgh khg</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652666/Studeasy/Sans_titre_63_hkxnqg.png', width:"40" %>
          <h6>Chat</h6>
          <p>dkfgj fkgj g sejghdfhg</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652717/Studeasy/Sans_titre_64_v9zgsk.png', width:"40" %>
          <h6>Progression</h6>
          <p>dkfgj f fdjkghjsdfhg</p>
        </div>
    </div>

  </div>

  <div class="btmdiv">

    <div class="student">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664661346/Studeasy/Votre_texte_de_paragraphe_4_relmvz.png', width:"600" %>

    </div>

    <div class="textbox">
      <h3>The best way to pass your exams,<span class ="easy"> easily !</span> </h3>
      <p>Here is the classic lorem ipsum passage followed by Boparai's odd:</p>
      <p>kdsjfkjzbiz zvnfn s,dns aazij efdjj ddka a elakj</p>
      <br>
      <p>The app that's gonna change your life !</p>
    </div>

    <div class="buble">
      <p>Work more efficient</p>
      <h4>+ 92%</h4>
    </div>

  </div>


    <div class="footer">

      <div class="foot">
        <p>Studizy</p>
        <p>35, Republic Street - London</p>
        <p>contact@studizy.com</p>
      </div>

      <div class="icons">
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>


































</div>
