
<%# =============== VERSION 2 ===================== %>

<div class="landingbox">

  <div class="landing-content">

      <div class="landing-text">
        <%# <h1>Studizy</h1> %>
         <h1 class="title">
          <span class ="s">S</span>
          <span class ="t">t</span>
          <span class ="u">u</span>
          <span class ="d">d</span>
          <span class ="i">i</span>
          <span class ="z">z</span>
          <span class ="y">y</span>
        </h1>
        <h3>The best way to pass your exams,<span class ="easy"> easily !</span> </h3>
      </div>

      <div class="landing-links">
        <%= link_to "Sign Up", new_user_registration_path, class:'signup'  %>
        <%= link_to "Login", new_user_session_path, class:'login' %>
      </div>
  </div>



  <div class="studescription">

    <div class="central">
    <p class ="vert"><b>Simple</b></p>
     <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1663752655/Studeasy/Sans_titre_47_ggcvf3.png", width:"120px" %>
    <br>
    <p> Have a global view in one blink ! <br>
      Get acces to your schedule, results & files, <br> istantly!
    </p>

    </div>

    <div class ="docshare">
    <p class= "bleu"> <b>Centralize your documents !</b> </p>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1663752719/Studeasy/Sans_titre_48_drymrv.png", width:"100px" %>
    <br>
    <p>Consult your documents, notes, <br> and courses, anywhere, <br> with our cloud!</p>

    </div>

    <div class="slogan">
      <p class="slog">Study, <span class="izy">easy</span> ! </p>
      <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1663752592/Studeasy/Sans_titre_49_fzegtq.png", width:"120px" %>
      <br>
      <p class="youpi"> Welcome to the app that's gonna <br>change your life !</p> <br>
    </div>


  </div>

    <div class="footer">

      <div class="foot">
        <p>Studizy</p>
        <p>35, Republic Street - London</p>
        <p>contact@studizy.com</p>
      </div>

      <div class="icons">
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>



</div>

























<%# ========================================= VERSION 1============================================

<div class="homebox">

  <div class="homepage"> %>


      <%# <div class="liens">
        <%= link_to "Sing up !", new_user_registration_path, class:"btn-signup" %>
        <%# <%= link_to "Log in !", new_user_session_path, class:"btn-login" %>

      <%# </div> %>


  <%# </div> %>


  <%# <div class="footer">

    <p class="follow">Follow Us !</p>
      <ul>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
      </ul>
      <p class="info">Studizy - 18, Marble Street - LONDON </p>
      <p>Copyright www.studizy.com - All rights reserved.
      <a href="#">contact@studizy.com</a></p>
  </div> %>



<%# </div> %>
