<div class="homebox">

  <div class="home-banner">

    <div class="lft">
      <h1>Digital platform</h1>
      <h1>for all student</h1>
      <h1>activity.</h1>

    </div>

    <div class="laptop">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664648648/Studeasy/Sans_titre_57_nsvqqt.png', width:"600" %>
    </div>

  </div>

  <div class="band">

    <div class="features">
      <h1>FEATURES</h1>
      <p> It has survived not only five centuries, but also the leap into electronic typesetting.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting.</p>

    </div>

    <div class="square">
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652506/Studeasy/Sans_titre_60_ofok2h.png', width:"40" %>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652555/Studeasy/Sans_titre_61_nfanw5.png', width:"40" %>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652595/Studeasy/Sans_titre_65_z8nhzw.png', width:"40" %>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652637/Studeasy/Sans_titre_62_pnwuno.png', width:"40" %>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652666/Studeasy/Sans_titre_63_hkxnqg.png', width:"40" %>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652717/Studeasy/Sans_titre_64_v9zgsk.png', width:"40" %>
        </div>
    </div>

  </div>

  <div class="btmdiv">

    <div class="student">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664650059/Studeasy/Sans_titre_59_bhivrf.png', width:"250" %>

    </div>

    <div class="textbox">
    <h2>Why is it the Best app ?</h2>
    <p>because blablablabla elsrjziej soejrj zlekjr ls araja jd lskfj afij </p>
    <p>kdsjfkjzbiz zvnfn s,dns aazij efdjj ddka a elakj</p>

    </div>


  </div>



































</div>
