<div class="homebox">
  <%# <div class="upband">
  </div> %>
  <div class="home-banner">
    <div class="lft">
      <h1 class="title">
        <span class ="s">S</span>
        <span class ="t">t</span>
        <span class ="u">u</span>
        <span class ="d">d</span>
        <span class ="i">i</span>
        <span class ="z">z</span>
        <span class ="y">y</span>
      </h1>
    <br>
      <h1>Digital platform</h1>
      <h1>for all student</h1>
      <h1>activity.</h1>
      <div class="newlinks">
        <%# <%= link_to "Sign Up", new_user_registration_path, class:'signup'  %>
        <% if user_signed_in? %>
          <%= link_to "Enter my Dashboard", dashboard_path, class:'homepath' %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:'login' %>
        <% end %>
      </div>
    </div>
    <div class="laptop">
      <%# <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664661345/Studeasy/Votre_texte_de_paragraphe_7_um07ok.png', width:"700" %>
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664905245/Studeasy/Sans_titre_74_sb3sdn.png', width:'600' %>
    </div>
  </div>
  <div class="band">
    <div class="features">
      <h1>FEATURES</h1>
      <br>
      <h4> Try out the app every student needs ! <br>
      Multiple features to make your student life <br>the more efficient and the more practical possible.</h4>
    </div>
    <div class="square">
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652506/Studeasy/Sans_titre_60_ofok2h.png', width:"40" %>
          <h6>Callendar</h6>
          <p>Get a global view in one blink! </p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652555/Studeasy/Sans_titre_61_nfanw5.png', width:"40" %>
          <h6>Results</h6>
          <p>Get acces to your detailed grades. </p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652595/Studeasy/Sans_titre_65_z8nhzw.png', width:"40" %>
          <h6>Due dates</h6>
          <p>Deadlines reminder.</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652637/Studeasy/Sans_titre_62_pnwuno.png', width:"40" %>
          <h6>Cloud</h6>
          <p>Stock and share files.</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652666/Studeasy/Sans_titre_63_hkxnqg.png', width:"40" %>
          <h6>Chat</h6>
          <p>Keep up  with classmates and teachers!</p>
        </div>
        <div class="feat">
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664652717/Studeasy/Sans_titre_64_v9zgsk.png', width:"40" %>
          <h6>Progression</h6>
          <p>Keep an eye on your evolution</p>
        </div>
    </div>
  </div>
  <div class="btmdiv">
    <div class="student">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664905195/Studeasy/Sans_titre_78_hokuc8.png', width:"500" %>
    </div>
    <div class="textbox">
      <div class="txt">
        <h3>The best way to pass your exams,<span class ="easy"> easily !</span> </h3>
        <br>
        <p>Centralize your files and resources in one place!</p>
        <p>Get acces to your courses and keep in touch with your classmates and teachers.</p>
        <p>Visualize your progression with your results display.</p>
        <p>Studizy is all you need to succeed!</p>
      </div>
      <br><br>
      <div class="slide">
          <div><p>The app that's gonna <span>change your life !</span></p></div>
      </div>
    </div>
    <div class="buble">
      <p>Work more efficient</p>
      <h4>+ 92%</h4>
    </div>
  </div>
    <div class="footer">
      <div class="foot">
        <p>Studizy</p>
        <p>35, Republic Street - London</p>
        <p>contact@studizy.com</p>
      </div>
      <div class="icons">
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
</div>
