<div class="yourgrades">

  <div class="your">
    <h1>Your Results</h1>
  </div>

  <div class="allgrades">

    <div class="groupegrade">

      <div class="case">
        <h3>Geometry</h3>
        <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709219/Studeasy/Sans_titre_66_trjjnu.png', width:"100" %>
      </div>

       <div class="case">
        <h3>Algebra</h3>
        <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709278/Studeasy/Sans_titre_67_txctrt.png', width:"100" %>
      </div>

      <div class="case">
        <h3>Probabilities</h3>
        <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709259/Studeasy/Sans_titre_69_vlfppn.png', width:"100" %>
      </div>

      <div class="case">
        <h3>History of Maths</h3>
        <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709259/Studeasy/Sans_titre_69_vlfppn.png', width:"100" %>

      </div>

    </div>

    <div class="column">

      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1664709298/Studeasy/Sans_titre_70_sybe7x.png', width:"200" %>


    </div>




  </div>











</div>
