<div class="coursesindex">

  <div class="upcourses">
    <h1 class ="titlecourses">Your courses</h1>
    <p><b>Maths Sup L2 </b>- Pythagor University</p>
  </div>

<div class="container1">
  <div class="menu2">
      <p class="wel">Welcome <span class="user"><%= current_user.email %></span> </p>
        <hr>

      <div class="today">
        <br>
      <%=  image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1664917228/Studeasy/Sans_titre_80_n5hekv.png", width:"100px"%>
        <p> <% @date= Date.today %> <%= @date.strftime('%a %d %B %Y') %></p>
      </div>
        <br>
        <hr>


      <%= link_to "Courses", courses_path, class:"btncourses" %>
        <hr>
      <%=  link_to "Documents", documents_path, class:"btndoc" %>
        <hr>
      <%= link_to "Results", results_path, class:'btnresults' %>
        <hr>
      <%= link_to "Chat", chatrooms_path, id:"btnchat" %>
        <hr>
      <%= link_to "Home", dashboard_path, id:"btndash" %>
        <br>
        <br>
        <br>
    </div>

  <div class= "result">
      <% @courses.each do |course| %>
          <div class="card-course">
          <%= cl_image_tag course.photo.key %>
              <div class="card-course-infos">
                  <h2> <%= course.title %></h2>
                  <p> <%= course.description %></p>
                  <%# <p> Created by Professor (user_id) <%= course.user_id %>
                  <%# <p>Teacher ? <%= current_user.teacher? %>
                  <br>
                  <%= link_to "View course", course_path(course.id), class: "btn btn-flat" %>
                  <img src="https://loremflickr.com/1080/1080/portrait" class="card-course-teacher avatar-bordered" />
              </div>
          </div>
      <% end %>
  </div>


</div>

</div>
