
<div class="docbox">

  <div class="doctitle">
    <div class="upsession">
      <h1><%= @course.title %></h1>
      <div class="desc">
        <h5><%= @course.description %></h5>
      </div>
    </div>

    <div class="searching">
      <input type="search" id="research" name="searchQuery" placeholder="Search for documents...">
    </div>

    <div class="linksession">
      <%= link_to "Courses", courses_path, class: "backbtn" %>
      <%= link_to "Results" , result_path(@course.id) %>
    </div>


  </div>



  <div class="board">

    <table class="show">
      <tr>
        <th class='stat'> Status</th>
        <th>Session's date</th>
        <th> Course</th>
        <th>Description</th>
        <th>Resources</th>
        <th class='ulfile'>Upload a file</th>
      </tr>

      <tr>
        <% @sessions.sort_by(&:start_date).each do |session| %>
        <% if session.start_date > DateTime.now %>
          <td class="inc"> <%= session.status = "Incoming" %></td>
          <% elsif session.start_date == DateTime.now %>
          <td class="today"> <%= session.status = "Today" %></td>
          <% else %>
          <td class ="passed"> <%= session.status = "Passed" %></td>
        <% end %>
          <td> <%= session.start_date %> </td>
          <td> <%= @course.title %> </td>
          <td class ="searched"><%= session.name %> </td>
          <td class="dl"><a href="http://exo7.emath.fr/cours/livre-algebre-1.pdf" target = "blank"download>
            <i class="fa-solid fa-download" width="50px"></i>
              </a></td>
          <td><%= link_to "Add file", edit_student_course_path(@course) %></td>
      </tr>
      <% end %>
    </table>
  </div>

</div>

<br>
<br>





   <%# =========================== CODE BASE =============== %>

<%#
<% @course.sessions.each do |session| %>
  <%# <div class="courses-sessions">
    <br>

      <li><%#= link_to "session's date", session_path(session.id) = session.id %>
<%#
      <br>
      <li> Name: <%= session.name %>
      <%# <li> Start Date: <%= session.start_date %>
      <%# <li> End Date: <%= session.end_date %>
      <%# <li> Status: <%= session.status %>
    <%# <br>
<%#
    <li><%#= link_to "Documents", session %>

  <%# </div> %>
<%# <% end %>

<%# <h3> Your personnal documents</h3> %>
<%# <%= @course.file.key, height: 300, width: 400, crop: :fill %>

<%# <h3> Add a personnal document</h3>

<%= link_to "Upload file", edit_student_course_path(@course) %>


 <%# =================CODE TABLEAU BASE =========================== %>

        <%# <tr>
          <td>15/09/22</td>
          <td>Functions part 2</td>
          <td> Use the basic functions</td>
          <td>M. Watson</td>
          <td><a href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240085/Studeasy/pexels-max-fischer-5212316_ixkpyx.jpg" download>
            <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240085/Studeasy/pexels-max-fischer-5212316_ixkpyx.jpg" width="40px" alt="Lesson 3">
              </a></td>
          <td><input type="file"
            id="file" name="file"
            accept="image/png, image/jpeg"></td>
        </tr>

        <tr>
          <td>19/09/22</td>
          <td>Probabilities part 1/3</td>
          <td> understand the basis</td>
          <td>Ms Johnson</td>
          <td><a href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240291/Studeasy/pexels-vanessa-garcia-6325944_qzimf9.jpg" download>
            <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240291/Studeasy/pexels-vanessa-garcia-6325944_qzimf9.jpg" width="40px" alt="Lesson 3">
              </a></td>
          <td><input type="file"
            id="file" name="file"
            accept="image/png, image/jpeg"></td>
        </tr>

        <tr>
          <td>20/09/22</td>
          <td>Probabilities part 2/3</td>
          <td> use basic probabilities</td>
          <td>Ms Johnson</td>
          <td><a href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240075/Studeasy/pexels-katerina-holmes-5905475_psy0d7.jpg" download>
            <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240075/Studeasy/pexels-katerina-holmes-5905475_psy0d7.jpg" width="40px" alt="Lesson 3">
              </a></td>
          <td><input type="file"
            id="file" name="file"
            accept="image/png, image/jpeg"></td>
        </tr>

        <tr>
          <td>22/09/22</td>
          <td>Probabilities part 3/3</td>
          <td> advanced prob</td>
          <td>M. White</td>
          <td><a href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240074/Studeasy/pexels-jeswin-thomas-3781338_shttvz.jpg" download>
            <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663240074/Studeasy/pexels-jeswin-thomas-3781338_shttvz.jpg" width="40px" alt="Lesson 3">
              </a></td>
          <td><input type="file"
            id="file" name="file"
            accept="image/png, image/jpeg"></td>
        </tr> %>
