
<div>
    <h1><strong><%= @course.title %></strong></h1>
</div>


  <ul>
    <li>Title :  <%= @course.title %></li>
    <li>Description : <%= @course.description %></li>
  </ul>



<% @course.sessions.each do |session| %>
  <div class="courses-sessions">
    <br>
      <li><%= link_to "session's date", session_path(session.id) %> <%= session.id %></li>
      <br>
      <li> Start Date: <%= session.start_date %></li>
      <li> End Date: <%= session.end_date %></li>
      <li> Status: <%= session.status %></li>
    <br>
    <li><%= link_to "Documents", session %></li>
  </div>
<% end %>

<h3> Your personnal documents</h3>
<%# <%= @course.file.key, height: 300, width: 400, crop: :fill %> %>

<h3> Add a personnal document</h3>

<%= link_to "Add a personnal document", edit_student_course_path(@course) %>
<br>

<%= link_to "Back to all courses", courses_path %>
