<!DOCTYPE html>
<html>
  <head>
    <title>Studizy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/8110e6fe91.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
     <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-radar.min.js"></script>
    <style type="text/css">
      html, body, #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>

  <script>
    anychart.onDocumentReady(function () {
    // our data from bulbapedia
      var data1 = [
        {x: "Maths basics", value: 69},
        {x: "Probabilities", value: 52},
        {x: "Algebra", value: 43},
        {x: "Geometry", value: 60},
        {x: "Statistics", value: 62},
        {x: "Maths History", value: 55},
      ];

      // var data2 = [
      //   {x: "Maths basics", value: 59},
      //   {x: "Probabilities", value: 62},
      //   {x: "Algebra", value: 40},
      //   {x: "Geometry", value: 65},
      //   {x: "Statistics", value: 59},
      //   {x: "Maths History", value: 55},
      // ];

      var data3 = [
        {x: "Maths basics", value: 34},
        {x: "Probabilities", value: 62},
        {x: "Algebra", value: 59},
        {x: "Geometry", value: 61},
        {x: "Statistics", value: 70},
        {x: "Maths History", value: 48},
      ];

      // create radar chart
      var chart = anychart.radar();
      // set chart yScale settings
      chart.yScale()
        .minimum(35)
        .maximum(65)
        .ticks({'interval':5});

      // create first series
      chart.line(data1)
      // create second series
      // chart.line(data2)
      // create third series
      chart.line(data3)
        // create first series
      chart.area(data1).name('September 22').markers(true).fill("#E55934", 0.3).stroke("#E55934")
      // create second series
      // chart.area(data2).name('January 22').markers(true).fill("#9BC53D", 0.3).stroke("#9BC53D")
      // create third series
      chart.area(data3).name('January 22').markers(true).fill("#5BC0EB", 0.3).stroke("#5BC0EB")

      // set chart title
      // chart.title("Last 3 exams sessions results");
      // .legend(true);

      // set container id for the chart
      chart.container('container');
      // initiate chart drawing
      chart.draw();

    });
  </script>
</html>
